.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
}
.my-info {
  background-color: rgb(182, 182, 247);
  padding: 4px;
}
.add-a-break {
  display: flex;
  background-color: rgb(182, 182, 247);
  color: black;
  padding: 7px;
}
.add-a-break button {
  padding-left: 10px;
  border-radius: 70%;
  border: none;
  margin-left: 4px;
  background-color: white;
  padding: 5px;
}
.add-a-break button:hover {
  background-color: rgb(2, 2, 223);
  color: white;
}
.food-details-heading {
  display: flex;
  background-color: rgb(182, 182, 247);
  margin-bottom: 10px;
}
.food-details-heading h5 {
  margin: 25px;
}
.activity-btn {
  width: 100%;
  background-color: rgb(113, 113, 245);
  border: none;
  padding: 15px;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
}
.activity-btn:hover {
  background-color: rgb(2, 2, 223);
}
