.website-name {
  color: rgb(111, 111, 238);
}
.food-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}
.cart-container {
  background-color: rgba(179, 174, 168, 0.3);
}
/* @media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */
