.title {
  color: rgb(111, 111, 238);
  font-size: 40px;
}

.title-icon {
  display: flex;
  align-items: center;
  color: rgb(111, 111, 238);
  font-size: 20px;
}
.food-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 20px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}
.cart-container {
  background-color: rgba(179, 174, 168, 0.3);
}
@media only screen and (min-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* @media only screen and (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */
