.card {
  width: 195px;
  height: 420px;
  margin: 10px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.card img {
  width: 180px;
  height: 230px;
  border-radius: 8px;
  margin: 7px;
}
.card-info {
  margin: 14px;
}
.card-info p {
  margin-bottom: 0;
  margin-top: 5px;
}
.card-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}
.btn-card {
  width: 80%;
  padding: 4px;
  margin-left: 20px;
  background-color: rgb(113, 113, 245);
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-text {
  margin-right: 5px;
}
.btn-card:hover {
  background-color: blue;
}
