.how-does-react-work {
  border: 1px solid rgb(235, 83, 83);
  padding: 10px;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.how-does-react-work-span {
  text-decoration-line: underline;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}

.state-props {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 82%;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
}
.state {
  border: 1px solid rgb(235, 83, 83);
  padding: 10px;
}
.state-span {
  text-decoration-line: underline;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}
.props-span {
  text-decoration-line: underline;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}

.props {
  border: 1px solid rgb(218, 81, 81);
  padding: 10px;
}
.useeffect-dataload {
  border: 1px solid rgb(218, 81, 81);
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.useeffect-dataload-span {
  text-decoration-line: underline;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}
